* {
	margin: 0px;
	padding: 0px;
	text-align: center;
	box-sizing: border-box;
}
.flex-container {
    text-align: center;
    overflow: auto;
    margin: 0 auto;
    widows: 100%;
    height: 100%;
}
.flex-container > * {
    padding: 15px;
}
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}
body {
	width: 100%;
	background-image: url("https://s-media-cache-ak0.pinimg.com/236x/9d/31/ab/9d31ab10d5c92f548e1ea7b805689f96--subtle-textures-web-project.jpg");
	background-size: cover;
}
header {
	background-color: #fff;
	border-color: #ccc;
	border-bottom-width: 80%;
	border-bottom-style: solid; 
	display: inline-block;
	width: 100%;
	height: 10%;
	position: fixed;
	top: 0px;
	left: 0px;
}
.nav {
	position: fixed;
	clear: both;
	float: right;
	display: inline-block;
	margin: 10px;
	top: -10px;
	right: 300px;
	text-decoration: none;
}
li {
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	margin: 40px 20px 20px 10px;
}
a:link {
	text-decoration: none;
	color: #777;
}
.name {
	position: fixed;
	top: -5px;
	left: 10%;
	text-align: center;
	background-color: #4aaaa5;
	color: white;
	width: 190px;
	height: 60px;
	margin: 20px;
	padding: 5px 5px 0px 5px;
}
h1 {
	text-align: center;
	position: fixed;
	top: 50px
	margin-bottom: 50px;
}
h2, h3 {
	text-align: left;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	width: 90%;
	height: 10%;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
}
.portfolio-header {
	text-align: left;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	width: 90%;
	height: 5%;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
}
h1 {
	margin-left: auto;
	margin-right: auto;
}
h1, h2, h3, h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}
.content, .contact {
	position: fixed;
	top: 20%;
	left: 170px;
	float: left;
	width: 650px;
	height: 460px;
	background-color: #fff;
	color: #4aaaa5;
	border-color: #ccc;
	border-style: solid;
	border: 1px
}
form {
	color: #777;
	text-align: left;
	width: 730px;
	margin-left: 30px;
	margin-top: 15px;
}
.text-name, .text-email, .text-large {
	width: 80%;
	text-align: left;

}
.text-large {
	height: 180px;
	text-align: top;
}
.submit {
	text-align: center;
	background-color: #4aaaa5;
	color: #fff;
	border-color: #4aaaa5;
	width: 70px;
	height: 30px;
}
.portfolio {
	position: fixed;
	top: 150px;
	left: 170px;
	float: left;
	width: 650px;
	height: 1000px;
	background-color: #fff;
	color: #4aaaa5;
	border-color: #ccc;
	border-style: solid;
	border: 1px;
}
.left-odd {
	float: left;
	display: block;
	height: 1000px;
	margin-top: 10%;
	margin-left: 15%;
	margin-bottom: 5px;
	overflow: hidden;

}
.right-even {
	float: right;
	display: block;
	height: 1000px;
	margin-top: 10%;
	margin-right: 15%;
	margin-bottom: 5px;
	overflow: hidden;
}
.odds, .evens {
	display: block;
}
.pictures {
	height: 800px;
	overflow: scroll;
}
.p1 {
	margin-left: 30px;
}
.p1, .p2 {
	text-align: left;
	text-indent: 30px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	color: #777;
	font-size: 18px;
}
.bio-pic {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
.connect {
	position: fixed;
	top: 15%;
	left: 60%;
	float: left;
	width: 270px;
	height: 220px;
	background-color: #fff;
	color: #4aaaa5;
	border-color: #ccc;
	border-style: solid;
	border: 1px;
}
.links {
	text-align: center;
	margin-top: 20px;
	margin-left: 10px;
}
.git, .linked, .stack {
	margin-right: 5px;
}
footer {
	clear: both;
	position: fixed;
	left: 0px;
	height: 80px;
	background-color: #666;
	bottom: 0px;
	width: 100%;
	margin-top: 20px;
	border-top: 15px;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	color: #777;
}
h4 {
	margin-top: 20px;
}


@media screen and (max-width: 1024px) {
	.flex-container {
		width: 100%;
	}
	header {
		width: 100%;
		height: 10%;
	}
	.name {
		width: 25%;
		position: fixed;
		left: 15%;
		top: -5px;
	}
	.nav {
		width: 40%;
		float: right;
		position: fixed;
		right: 10%;
		top: -10px;
	}
	.container {
		width: 100%
		margin: 0px auto;
	}
	.content {
		width: 40%;
		height: 70%;
		position: fixed;
		top: 15%;
		left: 15%;
	}
	.bio-pic {
		width: 88%;
		height: 30%;
	}
	.p1, .p2 {
		font-size: 14px;
	}
	.connect {
		width: 30%;
		position: fixed;
		top: 15%;
	}
	footer {
		width: 100%;
	}
}
@media screen and (max-width: 980px) {
	.flex-container {
		width: 100%;
	}
	header {
		width: 100%;
		height: 10%;
	}
	.name {
		width: 25%;
		position: fixed;
		left: 15%;
		top: -5px;
	}
	.nav {
		width: 40%;
		float: right;
		position: fixed;
		right: 10%;
		top: -10px;
	}
	.container {
		width: 100%
		margin: 0px auto;
	}
	.content, .contact {
		width: 40%;
		height: 70%;
		position: fixed;
		top: 15%;
		left: 15%;
	}
	form {
		width: 100%;
	}
	.portfolio {
		height: 100%;
		width: 40%;
		position: fixed;
		left: 15%;
		top: 15%;
	}
	.left-odd, .right-even {
		float: left;
	}
	.bio-pic {
		width: 88%;
		height: 30%;
	}
	.p1, .p2 {
		font-size: 14px;
	}
	.connect {
		width: 30%;
		position: fixed;
		top: 15%;
	}
	footer {
		width: 100%;
	}
}
@media screen and (max-width: 769px) {
	.flex-container {
		width: 100%;
	}
	header {
		width: 100%;
		height: 10%;
	}
	.name {
		width: 25%;
		position: fixed;
		left: 15%;
		top: -12px;
	}
	.nav {
		width: 40%;
		float: right;
		position: fixed;
		right: 10%;
		top: -10px;
	}
	.container {
		width: 100%
		margin: 0px auto;
	}
	.content, .contact {
		width: 90%;
		height: 40%;
		position: fixed;
		top: 15%;
		left: 5%;
	}
	.bio-pic {
		width: 33%;
		height: 33%;
	}
	.p1, .p2 {
		font-size: 14px;
	}
	form {
		width: 112%;
		height: 60%;
	}
	.text-large {
		height: 40%;
	}
	.portfolio {
		height: 60%;
		width: 90%;
		position: fixed;
		left: 5%;
		top: 15%;
		overflow: hidden;
	}
	.connect {
		width: 90%;
		height: 20%;
		position: fixed;
		top: 60%;
		left: 5%;
		padding-top: 0px;
	}
	.portfolio-connect {
		top: 80%;
	}
	.links {
		float: left;
	}
	h2 {
		margin-top: 10px;
		margin-bottom: 15px;
		bottom: 10px;
	}
	h3 {
		margin-top: 15px;
		vertical-align: top;
		text-align: top;
	}
	footer {
		width: 100%;
	}
}
@media screen and (max-width: 640px) {
	.flex-container {
		width: 100%;
	}
	header {
		width: 100%;
		height: 10%;
	}
	.name {
		width: 30%;
		position: fixed;
		left: 5%;
		top: -12px;
	}
	.nav {
		width: 40%;
		float: right;
		position: fixed;
		right: 10%;
		top: -10px;
	}
	.container {
		width: 100%
		margin: 0px auto;
	}
	.content, .contact {
		width: 90%;
		height: 40%;
		position: fixed;
		top: 15%;
		left: 5%;
	}
	.bio-pic {
		width: 33%;
		height: 33%;
	}
	.p1, .p2 {
		font-size: 14px;
	}
	form {
		width: 112%;
		height: 60%;
	}
	.text-large {
		height: 40%;
	}
	.portfolio {
		height: 60%;
		width: 90%;
		position: fixed;
		left: 5%;
		top: 15%;
		overflow: hidden;
	}
	.connect {
		width: 90%;
		height: 20%;
		position: fixed;
		top: 60%;
		left: 5%;
		padding-top: 0px;
	}
	.portfolio-connect {
		top: 80%;
	}
	.links {
		float: left;
	}
	h2 {
		margin-top: 10px;
		margin-bottom: 15px;
		bottom: 10px;
	}
	h3 {
		margin-top: 15px;
		vertical-align: top;
		text-align: top;
	}
	footer {
		width: 100%;
	}
}
